@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@600&display=swap");

@import "tailwindcss";

@theme {
	--font-family-heading: "Clash Display", sans-serif;
	--font-family-body: "Archivo", sans-serif;

	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 1.875rem;
	--font-size-4xl: 2.25rem;
	--font-size-5xl: 3rem;
	--font-size-6xl: 3.75rem;
	--font-size-7xl: 4.5rem;
	--font-size-8xl: 6rem;
	--font-size-9xl: 8rem;
}

@layer base {
	:root {
		/* light mode - beach */
		--primary-bg: #faedcd;
		--primary-accent: #457b9d;
		--primary: #111113;

		--secondary-bg: #fff5e1;
		--secondary-accent: #f4a261;
	}

	html.dark {
		/* dark mode - space */
		--primary-bg: #121212;
		--primary-accent: #ffffff;
		--primary: #e5e5e5;

		--secondary-bg: #242527;
		--secondary-accent: #7251b5;
	}
}

@layer utilities {
	.bg-primary {
		background-color: var(--primary-bg);
	}

	.bg-secondary {
		background-color: var(--secondary-bg);
	}

	.text-primary-accent {
		color: var(--primary-accent);
	}

	.text-secondary-accent {
		color: var(--secondary-accent);
	}

	.text-primary {
		color: var(--primary);
	}
}

body {
	background-color: var(--primary-bg);
}
